{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block title %}Season Rankings{% endblock %}

{% block content %}
<h1>Season Rankings</h1>
<form method="POST" action="/season_rankings/select_season">
    <label for="season_dropdown">Choose a season:</label>
    <select id="season_dropdown" name="season_dropdown">
        {% for season in seasons %}
            <option value="{{ season.year }}" {% if season.year == selected_year %}selected='selected'{% endif %}>
                {{ season.year }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
<form method="POST" action="/season_rankings/select_league">
    <label for="league_dropdown">Choose a league:</label>
    <select id="league_dropdown" name="league_dropdown">
        {% for league in leagues %}
            <option value="{{ league.short_name }}"
                    {% if league.short_name == selected_league_name %}selected='selected'{% endif %}>
                {{ league.short_name }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
<form method="POST" action="/season_rankings/select_type">
    <label for="ranking_type_dropdown">Choose a ranking type:</label>
    <select id="ranking_type_dropdown" name="ranking_type_dropdown">
        {% for type in types %}
            <option value="{{ type }}" {% if type == selected_type %}selected='selected'{% endif %}>
                {{ type }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>
<form method="POST" action="/season_rankings/weekly_update">
    <button type="submit">Run Weekly Update</button>
</form>
{% block table_content %}{% endblock %}
{% endblock %}
