{% extends 'season_rankings/index.html' %}
{% set active_page = 'offense' %}
{% block title %}Offensive Rankings{% endblock %}

{% block table_content %}
<h1>Offensive Rankings</h1>
<table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Team
            </th>
            <th class="text-right align-right-override">
                W
            </th>
            <th class="text-right align-right-override">
                L
            </th>
            <th class="text-right align-right-override">
                T
            </th>
            <th class="text-right align-right-override">
                Off Avg
            </th>
            <th class="text-right align-right-override">
                Off Factor
            </th>
            <th class="text-right align-right-override">
                Off Index
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for team_season in season_rankings %}
        <tr>
            <td class="text-left">
                {{ team_season.team_name }}
            </td>
            <td class="text-right align-right-override">
                {{ team_season.wins }}
            </td>
            <td class="text-right align-right-override">
                {{ team_season.losses }}
            </td>
            <td class="text-right align-right-override">
                {{ team_season.ties }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.2f" | format((team_season.offensive_average | default(0) | float) | round(2)) }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.3f" | format((team_season.offensive_factor | default(0) | float) | round(3)) }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.2f" | format((team_season.offensive_index | default(0) | float) | round(2)) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
