{% extends 'base.html' %}

{% block content %}
<h1>League Season</h1>

    {% block header_content %}{% endblock %}
    <hr>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                League Name
            </dt>
            <dd class="col-sm-10">
                {{ league_season.league.short_name }}
            </dd>
            <dt class="col-sm-2">
                Season
            </dt>
            <dd class="col-sm-10">
                {{ league_season.season.id }}
            </dd>
            <dt class="col-sm-2">
                Total Games
            </dt>
            <dd class="col-sm-10">
                {{ league_season.total_games }}
            </dd>
            <dt class="col-sm-2">
                Total Points
            </dt>
            <dd class="col-sm-10">
                {{ league_season.total_points }}
            </dd>
            <dt class="col-sm-2">
                Average Points
            </dt>
            <dd class="col-sm-10">
                {{ league_season.average_points }}
            </dd>
        </dl>
    </div>

    <div>
        {% block footer_content %}{% endblock %}
        <p>
            <a href="{{ url_for('league_season.index') }}">Back to List</a>
        </p>
    </div>
{% endblock %}
