{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a href="{{ url_for('season.index') }}">Seasons</a>
        <a href="{{ url_for('league.index') }}">Leagues</a>
        <a href="{{ url_for('conference.index') }}">Conferences</a>
        <a href="{{ url_for('division.index') }}">Divisions</a>
        <a href="{{ url_for('team.index') }}">Teams</a>
        <a href="{{ url_for('game.index') }}">Games</a>
        <a href="{{ url_for('team_season.index') }}">Team Seasons</a>
        <a href="{{ url_for('season_standings.index') }}">Season Standings</a>
        <a href="{{ url_for('season_rankings.index') }}">Season Rankings</a>
        <a href="{{ url_for('game_predictor.index') }}">Predict Game</a>
    </p>
    <p>Learn about <a href="https://flask.palletsprojects.com/en/2.2.x/">building Web apps with Flask.</a></p>
</div>
{% endblock %}
