{% extends 'leagues/base.html' %}

{% block content %}
<h1>Season</h1>

    {% block header_content %}{% endblock %}
    <hr>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Short Name
            </dt>
            <dd class="col-sm-10">
                {{ league.short_name }}
            </dd>
            <dt class="col-sm-2">
                Long Name
            </dt>
            <dd class="col-sm-10">
                {{ league.long_name }}
            </dd>
            <dt class="col-sm-2">
                First Season
            </dt>
            <dd class="col-sm-10">
                {{ league.first_season_year }}
            </dd>
            <dt class="col-sm-2">
                Last Season
            </dt>
            <dd class="col-sm-10">
                {{ league.last_season_year }}
            </dd>
        </dl>
    </div>

    <div>
        {% block footer_content %}{% endblock %}
        <p>
            <a href="{{ url_for('league.index') }}">Back to List</a>
        </p>
    </div>
{% endblock %}
