{% extends 'teams/base.html' %}
{% set active_page = 'index' %}
{% block title %}Teams{% endblock %}

{% block content %}
<h1>Teams</h1>
<p>
    <a class="btn btn-primary" href="{{ url_for('team.create') }}">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td class="text-left">
                {{ team.name }}
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ url_for('team.details', id=team.id) }}">Details</a>
                <a class="btn btn-primary btn-sm" href="{{ url_for('team.edit', id=team.id) }}">Edit</a>
                <a class="btn btn-primary btn-sm" href="{{ url_for('team.delete', id=team.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
