{% extends 'base.html' %}

{% block content %}
<h1>TeamSeason</h1>

    {% block header_content %}{% endblock %}
    <hr>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Team
            </dt>
            <dd class="col-sm-10">
                {{ team_season.team_name }}
            </dd>
            <dt class="col-sm-2">
                Season
            </dt>
            <dd class="col-sm-10">
                {{ team_season.season_year }}
            </dd>
            <dt class="col-sm-2">
                League
            </dt>
            <dd class="col-sm-10">
                {{ team_season.league_name }}
            </dd>
            <dt class="col-sm-2">
                Conference
            </dt>
            <dd class="col-sm-10">
                {{ team_season.conference_name }}
            </dd>
            <dt class="col-sm-2">
                Division
            </dt>
            <dd class="col-sm-10">
                {{ team_season.division_name }}
            </dd>
            <dt class="col-sm-2">
                G
            </dt>
            <dd class="col-sm-10">
                {{ team_season.games }}
            </dd>
            <dt class="col-sm-2">
                W
            </dt>
            <dd class="col-sm-10">
                {{ team_season.wins }}
            </dd>
            <dt class="col-sm-2">
                L
            </dt>
            <dd class="col-sm-10">
                {{ team_season.losses }}
            </dd>
            <dt class="col-sm-2">
                T
            </dt>
            <dd class="col-sm-10">
                {{ team_season.ties }}
            </dd>
            <dt class="col-sm-2">
                W%
            </dt>
            <dd class="col-sm-10">
                {{ "%.3f" | format((team_season.winning_percentage | default(0) | float) | round(3)) }}
            </dd>
            <dt class="col-sm-2">
                PF
            </dt>
            <dd class="col-sm-10">
                {{ team_season.points_for }}
            </dd>
            <dt class="col-sm-2">
                PA
            </dt>
            <dd class="col-sm-10">
                {{ team_season.points_against }}
            </dd>
            <dt class="col-sm-2">
                Exp. W
            </dt>
            <dd class="col-sm-10">
                {{ "%.1f" | format((team_season.expected_wins | default(0) | float) | round(1)) }}
            </dd>
            <dt class="col-sm-2">
                Exp. L
            </dt>
            <dd class="col-sm-10">
                {{ "%.1f" | format((team_season.expected_losses | default(0) | float) | round(1)) }}
            </dd>
            <dt class="col-sm-2">
                Off. Avg.
            </dt>
            <dd class="col-sm-10">
                {{ "%.2f" | format((team_season.offensive_average | default(0) | float) | round(2)) }}
            </dd>
            <dt class="col-sm-2">
                Off. Factor
            </dt>
            <dd class="col-sm-10">
                {{ "%.3f" | format((team_season.offensive_factor | default(0) | float) | round(3)) }}
            </dd>
            <dt class="col-sm-2">
                Off. Index
            </dt>
            <dd class="col-sm-10">
                {{ "%.2f" | format((team_season.offensive_index | default(0) | float) | round(2)) }}
            </dd>
            <dt class="col-sm-2">
                Def. Avg.
            </dt>
            <dd class="col-sm-10">
                {{ "%.2f" | format((team_season.defensive_average | default(0) | float) | round(2)) }}
            </dd>
            <dt class="col-sm-2">
                Def. Factor
            </dt>
            <dd class="col-sm-10">
                {{ "%.3f" | format((team_season.defensive_factor | default(0) | float) | round(3)) }}
            </dd>
            <dt class="col-sm-2">
                Def. Index
            </dt>
            <dd class="col-sm-10">
                {{ "%.2f" | format((team_season.defensive_index | default(0) | float) | round(2)) }}
            </dd>
            <dt class="col-sm-2">
                Fin Exp W%
            </dt>
            <dd class="col-sm-10">
                {{ "%.3f" | format((team_season.final_expected_winning_percentage | default(0) | float) | round(3)) }}
            </dd>
        </dl>
    </div>

    <hr>
    <table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Opponent
            </th>
            <th class="text-right align-right-override">
                GPF
            </th>
            <th class="text-right align-right-override">
                GPA
            </th>
            <th class="text-right align-right-override">
                W
            </th>
            <th class="text-right align-right-override">
                L
            </th>
            <th class="text-right align-right-override">
                T
            </th>
            <th class="text-right align-right-override">
                W%
            </th>
            <th class="text-right align-right-override">
                WG
            </th>
            <th class="text-right align-right-override">
                WPF
            </th>
            <th class="text-right align-right-override">
                WPA
            </th>
        </tr>
    </thead>
    <tbody>
        {% for opponent_record in team_season_schedule_profile %}
        <tr>
            <td class="text-left">
                {{ opponent_record.opponent }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.game_points_for }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.game_points_against }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.opponent_wins }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.opponent_losses }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.opponent_ties }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.3f" | format((opponent_record.opponent_winning_percentage | default(0) | float) | round(3)) }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.opponent_weighted_games }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.opponent_weighted_points_for }}
            </td>
            <td class="text-right align-right-override">
                {{ opponent_record.opponent_weighted_points_against }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <hr>
    <table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Schedule Totals
            </th>
            <th class="text-right align-right-override">
                Team G
            </th>
            <th class="text-right align-right-override">
                Team PF
            </th>
            <th class="text-right align-right-override">
                Team PA
            </th>
            <th class="text-right align-right-override">
                W
            </th>
            <th class="text-right align-right-override">
                L
            </th>
            <th class="text-right align-right-override">
                T
            </th>
            <th class="text-right align-right-override">
                W%
            </th>
            <th class="text-right align-right-override">
                G
            </th>
            <th class="text-right align-right-override">
                PF
            </th>
            <th class="text-right align-right-override">
                PA
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in team_season_schedule_totals %}
        <tr>
            <td></td>
            <td class="text-right align-right-override">
                {{ row.games }}
            </td>
            <td class="text-right align-right-override">
                {{ row.points_for }}
            </td>
            <td class="text-right align-right-override">
                {{ row.points_against }}
            </td>
            <td class="text-right align-right-override">
                {{ row.schedule_wins }}
            </td>
            <td class="text-right align-right-override">
                {{ row.schedule_losses }}
            </td>
            <td class="text-right align-right-override">
                {{ row.schedule_ties }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.3f" | format((row.schedule_winning_percentage | default(0) | float) | round(3)) }}
            </td>
            <td class="text-right align-right-override">
                {{ row.schedule_games }}
            </td>
            <td class="text-right align-right-override">
                {{ row.schedule_points_for }}
            </td>
            <td class="text-right align-right-override">
                {{ row.schedule_points_against }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <hr>
    <table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Schedule Averages
            </th>
            <th class="text-right align-right-override">
                Team Avg PF
            </th>
            <th class="text-right align-right-override">
                Team Avg PA
            </th>
            <th class="text-right align-right-override">
                Avg PF
            </th>
            <th class="text-right align-right-override">
                Avg PA
            </th>
        </tr>
    </thead>
    <tbody>
        {% for row in team_season_schedule_averages %}
        <tr>
            <td></td>
            <td class="text-right align-right-override">
                {{ "%.2f" | format((row.points_for | default(0) | float) | round(2)) }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.2f" | format((row.points_against | default(0) | float) | round(2)) }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.2f" | format((row.schedule_points_for | default(0) | float) | round(2)) }}
            </td>
            <td class="text-right align-right-override">
                {{ "%.2f" | format((row.schedule_points_against | default(0) | float) | round(2)) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <div>
        {% block footer_content %}{% endblock %}
        <p>
            <a href="{{ url_for('team_season.index') }}">Back to List</a>
        </p>
    </div>
{% endblock %}
