{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block title %}Seasons{% endblock %}

{% block content %}
<h1>Seasons</h1>
<p>
    <a class="btn btn-primary" href="{{ url_for('season.create') }}">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-right align-right-override">
                Year
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for season in seasons %}
        <tr>
            <td class="text-right align-right-override">
                {{ season.year }}
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ url_for('season.details', year=season.year) }}">Details</a>
                <a class="btn btn-primary btn-sm" href="{{ url_for('season.delete', year=season.year) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
