{% extends 'divisions/details_base.html' %}
{% set active_page = 'details' %}
{% block title %}Division{% endblock %}

{% block header_content %}
<h4>Details</h4>
{% endblock %}

{% block footer_content %}
<div class="row">
    <div class="col-lg-3 my-4">
        <a class="btn btn-primary" href="{{ url_for('division.edit', id=division.id) }}">Edit</a>
        <form class="delete-form" method="POST" action="{{ url_for('division.delete', id=division.id) }}">
            {{ delete_division_form.hidden_tag() }}
            {{
                delete_division_form.submit(
                    class='btn btn-danger', onclick='return confirm("Are you sure you want to delete this item?");'
                )
            }}
        </form>
    </div>
</div>
{% endblock %}
