{% extends 'conferences/edit_base.html' %}
{% set active_page = 'edit' %}
{% block title %}Edit Conference{% endblock %}

{% block h4 %}Edit{% endblock %}

{% block form %}
<form method="POST" action="{{ url_for('conference.edit', id=conference.id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.short_name.label }}
        {{ form.short_name(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.long_name.label }}
        {{ form.long_name(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.first_season_year.label }}
        {{ form.first_season_year(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.last_season_year.label }}
        {{ form.last_season_year(class='form-control') }}
    </div>
    <hr>
    {{ form.submit(class='btn btn-primary form-control') }}
</form>
{% endblock %}
